<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>KHAO Internet</title>

</head>
<body>
    {% load static %}
<table>
    <tr>
        <td>  
            <img src="{% static 'buy_starlink/ia.jpg' %}" alt="Khao_logo"
            width="150">
        </td>
        <td style="text-align: center">
            <h1>
                Helping astronomers of Kharkiv Observatory to work again
            </h1>
        </td>
        <td>  
            <img src="{% static 'buy_starlink/starlink_logo.png' %}" alt="Starlink logo"
            width="150">
        </td>
    </tr>
    <tr>
        <tr>
            <td style="width:100px">  </td>
            <td style="height: 100;"> 
                <h3 style="text-align: center;">
                    Progress
                </h3>
                <div class="progress" style="height: 40px;">
                    
                    <div class="progress-bar" role="progressbar" 
                        style="width: 5%; background-color:rgb(255, 0, 0)" aria-valuenow="100" 
                        aria-valuemin="0" aria-valuemax="2000">100 EUR
                    </div>
                    <div class="progress-bar" role="progressbar" 
                        style="width: 0.3%; background-color:rgb(0, 0, 0)" aria-valuenow="100" 
                        aria-valuemin="0" aria-valuemax="2000"> 
                    </div>

                    <div class="progress-bar" role="progressbar" 
                        style="width: 30%; background-color:rgb(248, 206, 206)" aria-valuenow="0" 
                        aria-valuemin="0" aria-valuemax="2000"> Terminal cost
                    </div> 
                    <div class="progress-bar" role="progressbar" 
                        style="width: 35%; background-color:rgb(210, 216, 252)" aria-valuenow="0" 
                        aria-valuemin="0" aria-valuemax="2000"> 6 months subscription
                    </div> 
                    <div class="progress-bar" role="progressbar" 
                        style="width: 35%; background-color:rgb(212, 252, 210)" aria-valuenow="0" 
                        aria-valuemin="0" aria-valuemax="2000"> 1 year subscription
                    </div> 
                    <!-- <div class="progress-bar bg-success" role="progressbar" 
                        style="width: 20%" aria-valuenow="0" 
                        aria-valuemin="0" aria-valuemax="1900"> <\div> -->
                        
                                    <!-- 2000 EUR -->
                  </div>
                  <h3 style="text-align: center">
                </h3>
            </td>
    </tr>
    <tr>
        <td style="width:100px">  </td>
        <td> 
            <div>
                <p>
                    During the time when Kharkiv is subject to everyday bombing and rocket
                strikes, astronomers from the Kharkiv Observatory of V.N. Karazin
                National University are trying to continue to work.
                But all of them need access to their computers that were moved to the 
                observatory shelter when the war begins.
                </p>

                <p>
                    Unfortunately, the communication between the internet provider and
                    observatory was damaged and can't be repaired in the near future.
                    Since the start of this war, the SpaceX company allowed to use its
                    Starlink terminals in Ukraine, <a href="https://www.starlink.com/">
                    https://www.starlink.com/</a>.
                    
                    
                    Therefore, I ask your help to buy one terminal and pay for a few months
                    subscriptions to provide internet access for astronomers from Kharkiv
                    Observatory.
                </p>

                <p>
                    It is a real and important help for my colleagues, 
                    so if anyone can help
                    me to rise money or help in another way, please let me know.
                </p>
                <p>
                    My email: <b>alexey.sergeyev(at)oca.eu</b>
                </p>
                <p style="text-align: center;">
                    <img src="{% static 'buy_starlink/obs0.gif' %}" alt="Starlink logo"
                    width="600">
                </p>
                <p>
                    Research staff of the Institute of Astronomy and the Department of Astronomy 
                    consists of 38 researchers, including 7 doctors of science and 15 candidates of science (PhDs). 
                    The Institute of Astronomy is located in two sites. The main office is in the center of 
                    Kharkov near the University, and the Chuguyev Observation Station of the Institute of 
                    Astronomy is sitiated in 70 km southeast from Kharkov. 
                    </p>

            </div>
        </td>
        <td style="width:100px">  </td>
    </tr>
</table>


<h2>Donors:</h2>
<ul>
    <li>John Doe</li>
    

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>